.appNavbar {
    grid-area: navbar;
    background-color: #333439;
    padding: 5px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px rgba(122,122,122,0.5);

}

.item a {
    color: #eeeeee;
    text-decoration: none;
    user-select: none;
    background-image: url(../../images/black30%.png);
    outline: none; /* убирать контур в Mozilla */
    display:block;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 2px 3px #333439;
    padding-top: 10px;

}

.item a.active {
    color: #eeeeee;
    background-color: darkturquoise;
    text-decoration: none;

}

.item a:hover {
    color: #eeeeee;
    background-color: #07e0e3;
    text-decoration: none;
}
.item {
    display: inline-block;

}