.appNavbar {
    grid-area: navbar;
    background-color: aqua;
    padding: 20px;
}

.item a {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background-image: url(../../images/black30%.png);
    padding: .7em 1.5em;
    outline: none; /* убирать контур в Mozilla */
    margin-right: 3px;
    display:block;
}

.item a.active {
    color: white;
    background-color: darkturquoise;
    text-decoration: none;
}

.item a:hover {
    color: white;
    background-color: red;
    text-decoration: none;
}