.appMain {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
  "header navbar"
  "content content"
  "footer footer";
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 60px 1fr 160px;
  grid-gap: 0px;

  /*background-color: black;*/
}

.appContent {
  grid-area: content;
  background-color: floralwhite;

  padding: 30px;
}
