.appMain {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
  "header navbar"
  "content content"
  "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 1fr 30px;
  grid-row-gap: 20px;

  }

.appContent {
  grid-area: content;
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 1px 1px 8px rgba(122,122,122,0.5);

}

